transformers
datasets
accelerate
bitsandbytes
sentence-transformers
spacy
rouge_score
bert_score
langchain
langchain-core
langchain-community
langchain-huggingface
huggingface_hub
numpy<2.0
scipy>1.10
tqdm
matplotlib
pandas
scikit-learn
